<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME PAGE</h1>

    <% cars.forEach(car => { %>
           <li> 
                <a href="/cars/show/<%=car._id%>">
                    <%= car.make %>
                    <%= car.model %>

                </a>
            </li> 
            <%})%>
            <hr>
            <a href="/cars/new">Add a new car</a>
</body>
</html> 