<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is NEW page</h1>
    <form action="/create" method="post">
        <div>
            <label for="make">Make</label>
            <input type="text" name="make" id="make">
        </div>
        <div>
            <label for="model">Model</label>
            <input type="text" name="model" id="model">
        </div>
        <div>
            <label for="miles">Miles</label>
            <input type="text" name="miles" id="miles">
        </div>
        <div>
            <label for="year">Year</label>
            <input type="text" name="year" id="year">
        </div>


        <button type="submit">Submit</button>
    </form>
<hr>
    <a href="/">Home Page</a>
</body>
</html>